<%= link_to "All clients", clients_path %>

<section>
  <header>
    <h3>Client Info</h3>
  </header>
  <p>Name: <%= @client.name %></p>
  <p>Street: <%= @client.street %></p>
  <p>Postal Code: <%= @client.postal_code %></p>
  <p>City: <%= @client.city %></p>
  <p>Phone Number: <%= @client.phone_number %></p>
  <%= link_to "Edit client info", edit_client_path(@client.uid) %>
</section>

<section>
  <header>
    <h3>Accounts</h3>
  </header>
  <% @client.accounts.each do |account| %>
  <p>
    <%= account.name %>
    -- 
    <%= link_to "Operate", account_path(account.uid) %>
  </p>
  <% end %>
  <%= link_to "Open new account", new_client_account_path(@client.uid) %>
</section>

<section>
  <header>
    <h3>Bank Cards</h3>
  </header>
  <% @client.cards.each do |card| %>
  <p>
    <%= card.card_number %> -- <%= card.account.name %>
    <%= link_to "Cancel this card", client_card_path(@client.uid, card.card_number), :method => :delete %>
  </p>
  <% end %>
  <%= link_to "Assign new card", new_client_card_path(@client.uid) %>
</section>

<section>
  <header>
    <h3>Cancelled Cards</h3>
  </header>
  <% @client.cancelled_cards.each do |card| %>
  <p><%= card.card_number %> -- <%= card.account.name %></p>
  <% end %>
</section>
